body {
    background-color: white;
    color:palevioletred;
}
.name {
    font-size: 20px;
    color: #333333;
    text-align: center;
}
.desc {
    font-size: 10px;
    color: gray;
    text-align: center;
}

.about, .CS, .writing {
    border-width: 10px;
    background-color: lightgray;
    color: black;
}
